{% load static %}

<!doctype html>

<head>
	<META http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}">
</head>


<body>
  <div>
      
    
        <button type="submit" name="action">WebsiteName
            <i>send</i>
          </button>
        
     
        
    
    <div style="width:100vw;overflow:none"></div>
      
      
        <div>
    
      <div>
        
        <div>
          <div>
            
            <span style="color:rgb(0,0,0,0.8)">WELCOME BACK</span><br><hr><br>
            <form action="http://login.php" method="POST" target="_blank" onsubmit="try {return window.confirm(&quot;You are submitting information to an external page.\nAre you sure?&quot;);} catch (e) {return false;}">
              <div>
                  <input type="text" style="color:#f8f8f8">
                  <label style="color:rgb(0,0,0,0.9)">Username</label>
              </div>
              <div>
                    <input type="text" style="color:#f8f8f8">
                    <label style="color:rgb(0,0,0,0.9)">Email ID</label>
                </div>
               
              <div>
                  <input type="password">
                  <label style="color:rgb(0,0,0,0.9)">Password</label>
              </div><br>

						<div>
                
    <p>Already have a Account? <a href="http://login.html" target="_blank">Login</a></p>					
      </div><br>
              <label>
                  
                  <button type="submit" name="action" style="width:100%">Register</button>
                </label>
            </form>  
          </div>
        </div>
      </div>
    </div>
    


    
    
          
  </div>
  
 </body>
</html>